import logging

BASE_PATH = '/path/to/current/folder'

LOG_LEVEL = logging.DEBUG

DB_NAME = 'weibo'

WEIBO_FOLLOWERS_PATH = 'E:\\datasets\\Weibo-Net-Tweet\\weibo_network.txt'
WEIBO_UIDLIST_PATH = 'E:\\datasets\\Weibo-Net-Tweet\\uidlist.txt'

NEO4J_USER = 'neo4j'
NEO4J_PASS = '123'

THRESHOLDS = {
    'memm': (0, 1),
    'mlnprac': (5, 10),
    'mlnalch': (0, 0.5),
    'aslt': (0, 1),
    'avg': (0, 1),
}
