import logging
from log_levels import DEBUG_LEVELV_NUM     # Do not remove this line.

BASE_PATH = '/path/to/current/folder'

# LOG_LEVEL = logging.INFO
LOG_LEVEL = logging.DEBUG
# LOG_LEVEL = DEBUG_LEVELV_NUM

DB_NAME = 'weibo'
MONGO_URL = 'mongodb://localhost:27017/'

WEIBO_FOLLOWERS_PATH = 'E:\\datasets\\Weibo-Net-Tweet\\weibo_network.txt'
WEIBO_UIDLIST_PATH = 'E:\\datasets\\Weibo-Net-Tweet\\uidlist.txt'

NEO4J_USER = 'neo4j'
NEO4J_PASS = '123'

THRESHOLDS = {
    'memm': (0, 1),
    'mlnprac': (5, 10),
    'mlnalch': (0, 0.5),
    'aslt': (0, 1),
    'avg': (0, 1),
}

PROCESS_COUNT = multiprocessing.cpu_count() - 1