<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="AppCtrl">
<head>
    <base href="/"> <!-- for angular $location html5 mode -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Diffusion</title>

    {% block css %}
    {% endblock %}

</head>
<body>
    {% block header %}

    {% endblock %}

    {% block sidebar %}
    {% endblock %}

    {% block js %}
    {% endblock %}
</body>
</html>