# -*- coding: utf-8 -*-
import os

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2', # Add 'postgresql_psycopg2', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'social', # Or path to database file if using sqlite3.
        # The following settings are not used with sqlite3:
        'USER': 'postgres',
        'PASSWORD': '',
        'HOST': '127.0.0.1', # Empty for localhost through domain sockets or '127.0.0.1' for localhost through TCP.
        'PORT': '5432', # Set to empty string for default.
    }}

VERBOSITY = 2

SITE_URL = 'http://127.0.0.1:8000/'
BASEPATH = os.path.join(os.path.dirname(os.path.abspath(__file__)), '..', '')

SERVE_STATIC_FILES = True
STATIC_ROOT = BASEPATH + 'static/'
STATIC_URL = SITE_URL + 'static/'

MEDIA_ROOT = BASEPATH + 'media/'
MEDIA_URL = SITE_URL + 'media/'

# for bigdata command:
MEMETRACKER_PATH = '<datasets_path>/memetracker9/quotes_2008-08.txt/quotes_2008-08.txt'